<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Servicios De Enfermeria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quien Soy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Servicios de enfermeria Vanessa Nietooooooooooooooooooo
        </div>
        <div class="card-body">
          <h5 class="card-title">Cuidados especializados de enfermeriaaaaa</h5>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Evaluación de enfermería</div>
                Proceso en el que se recopila y analiza información sobre la salud de un paciente para identificar sus necesidades y planificar la atención adecuada.
              </div>
              <span class="badge bg-primary rounded-pill">$ 100.000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Administración de medicamentos:</div>
                Proceso de preparar y proporcionar medicamentos a los pacientes según las prescripciones médicas, siguiendo los protocolos de seguridad y control.
              </div>
              <span class="badge bg-primary rounded-pill">$ 30.000</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Cuidados de heridas</div>
                Procedimientos y técnicas utilizados para evaluar, limpiar, desinfectar y tratar heridas, con el objetivo de promover la curación y prevenir infecciones.
              </div>
              <span class="badge bg-primary rounded-pill">$ 65.000</span>
            </li>
          </ol>
          <a href="#" class="btn btn-primary mt-4">Contacto</a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
